div ="header bg" {

position: absolute;
width: 1440px;
height: 216px;
left: 0px;
top: 0px;

background: #E9A89A;
}

h1{
position: absolute;
width: 655px;
height: 93px;
left: 635px;
top: 75px;

font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 70px;
/* or 109% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #117864;

mix-blend-mode: normal;
}